<ion-content>
	<ion-slides pager="true">
    
		<!-- Slide 1 -->
		<ion-slide>
			<ion-text color="light" class="intro-text">
				<h1>Hello Trillo!</h1>
				<p>Ready to get stuff done?</p>
			</ion-text>
			<img src="assets/imgs/intro_1.png">
		</ion-slide>
	
		<!-- Slide 2 -->
		<ion-slide>
			<img src="assets/imgs/intro_2.png">
			<ion-text color="light" class="intro-text">
				<h1>Get organized</h1>
				<p>Make a Trillo board to organize anything with anyone.</p>
			</ion-text>
		</ion-slide>
		
		<!-- Slide 3 -->
		<ion-slide>
			<img src="assets/imgs/intro_3.png">
			<ion-text color="light" class="intro-text">
				<h1>Add details</h1>
				<p>Open cards to add pictures, checklists, labels, and more.</p>
			</ion-text>
		</ion-slide>
		
	</ion-slides>
</ion-content>